/* Estilo geral do corpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
  background-color: #1885ca;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilo do conteúdo principal */
main {
  padding: 20px;
  margin: 20px;
}

/* Estilo das seções */
section {
  margin-bottom: 40px;
}

/* Estilo do rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #1885ca;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para o conteúdo do banner */
.banner-content {
  display: flex;
  align-items: center;
  height: 200px; /* Altura fixa do banner */
  overflow: hidden;
  position: relative;
  background-color: #1885ca;
  color: #fff;
}

.banner {
  height: 100%; /* Ajusta a imagem para ocupar toda a altura do banner */
  object-fit: contain; /* Garantir que a imagem se ajuste sem ser cortada */
  animation: zoomOut 5s ease-in-out forwards; /* Animação de zoom out */
}

.text-content {
  flex: 1;
  padding: 20px;
  opacity: 0; /* Esconde o texto inicialmente */
  animation: fadeIn 5s ease-in-out forwards;
  animation-delay: 3s; /* O texto aparece após a animação de zoom out */
  text-align: left; /* Alinhar o texto à esquerda */
}

/* Definindo a animação de zoom out */
@keyframes zoomOut {
  0% {
    transform-origin: bottom center;
    transform: translateY(-100%) scale(20);
  }
  100% {
    transform-origin: center center;
    transform: translateY(0) scale(1);
  }
}

/* Animação para o fade-in do texto */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilo do carrossel */
.carousel {
  position: relative;
  width: 100%;
  max-height: 200px; /* Ajuste conforme necessário */
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.character {
  flex: 0 0 90%;
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.character-image {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center; /* Centraliza a imagem verticalmente */
  justify-content: center; /* Centraliza a imagem horizontalmente */
  overflow: hidden;
}

.character-image img {
  max-width: 100%;
  max-height: 200px; /* Garante que a imagem se ajuste à altura do contêiner */
  object-fit: contain; /* Ajusta a imagem para não ser cortada */
}

.character-description {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Garante que o texto não ultrapasse a área visível */
}

.character-description p {
  margin: 0;
  text-align: left;
}

/* Botões do carrossel de personagens */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo do carrossel de trechos do livro */
.carousel-excerpts {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-content-excerpts {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.excerpt {
  min-width: 90%;
  padding: 20px;
  box-sizing: border-box;
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
}

.prev-excerpts,
.next-excerpts {
  position: absolute;
  bottom: 10px; /* Ajusta a posição dos botões para baixo */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-excerpts {
  left: 0;
}

.next-excerpts {
  right: 0;
}

.prev-excerpts:hover,
.next-excerpts:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
